name: Build

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
    branches:
        - '**'
  push:
    branches:
        - '**'

permissions: write-all

jobs:
  cross-build:
    name: 'Cross build'
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        target: [
          # Linux (glibc)
          'x86_64-unknown-linux-gnu2.17',
          'i386-unknown-linux-gnu2.17',
          'arm-unknown-linux-gnueabihf2.13',
          'aarch64-unknown-linux-gnu2.19',
          
          # Linux (musl)
          'aarch64-unknown-linux-musl',
          'x86_64-unknown-linux-musl',
          'armv6-unknown-linux-musleabihf',
          'armv7-unknown-linux-musleabihf',
          'i386-unknown-linux-musl',
          
          # FreeBSD
          'x86_64-unknown-freebsd',
          'aarch64-unknown-freebsd',
          'i386-unknown-freebsd',
        ]
    steps:
    - uses: actions/checkout@main
      with:
        submodules: true
    - name: Cross-compile GDB to ${{ matrix.target }}
      run: |
        if [[ '${{ matrix.target }}' == *'-linux-musl'* ]]; then
            declare -r RAIDEN_TAG="$(jq --raw-output '.tag_name' <<< "$(curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --url 'https://api.github.com/repos/AmanoTeam/Raiden/releases/latest')")"
            declare -r RAIDEN_TARBALL='/tmp/toolchain.tar.xz'
            declare -r RAIDEN_URL="https://github.com/AmanoTeam/Raiden/releases/download/${RAIDEN_TAG}/x86_64-unknown-linux-gnu.tar.xz"
            
            curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --location --url "${RAIDEN_URL}" --output "${RAIDEN_TARBALL}"
            tar --directory="$(dirname "${RAIDEN_TARBALL}")" --extract --file="${RAIDEN_TARBALL}"
            
            export RAIDEN_HOME='/tmp/raiden'
            export PATH="${RAIDEN_HOME}/bin:${PATH}"
            
            source "${RAIDEN_HOME}/usr/local/share/raiden/autotools/${{ matrix.target }}.sh"
        elif [[ '${{ matrix.target }}' == *'-linux-gnu'* ]]; then
            declare -r OBGGCC_TAG="$(jq --raw-output '.tag_name' <<< "$(curl -v --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --url 'https://api.github.com/repos/AmanoTeam/obggcc/releases/latest')")"
            declare -r OBGGCC_TARBALL='/tmp/toolchain.tar.xz'
            declare -r OBGGCC_URL="https://github.com/AmanoTeam/obggcc/releases/download/${OBGGCC_TAG}/x86_64-unknown-linux-gnu.tar.xz"
            
            curl -v --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --location --url "${OBGGCC_URL}" --output "${OBGGCC_TARBALL}"
            tar --directory="$(dirname "${OBGGCC_TARBALL}")" --extract --file="${OBGGCC_TARBALL}"
            
            export OBGGCC_HOME='/tmp/obggcc'
            export PATH="${OBGGCC_HOME}/bin:${PATH}"
            
            source "${OBGGCC_HOME}/usr/local/share/obggcc/autotools/${{ matrix.target }}.sh"
        elif [[ '${{ matrix.target }}' == *'-freebsd' ]]; then
            declare -r LOKI_TAG="$(jq --raw-output '.tag_name' <<< "$(curl  --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --url 'https://api.github.com/repos/AmanoTeam/Loki/releases/latest')")"
            declare -r LOKI_TARBALL='/tmp/toolchain.tar.xz'
            declare -r LOKI_URL="https://github.com/AmanoTeam/Loki/releases/download/${LOKI_TAG}/x86_64-unknown-linux-gnu.tar.xz"
            
            curl --silent --connect-timeout '10' --retry '15' --retry-all-errors --fail --location --url "${LOKI_URL}" --output "${LOKI_TARBALL}"
            tar --directory="$(dirname "${LOKI_TARBALL}")" --extract --file="${LOKI_TARBALL}"
            
            export LOKI_HOME='/tmp/loki'
            export PATH="${LOKI_HOME}/bin:${PATH}"
            
            source "${LOKI_HOME}/usr/local/share/loki/autotools/${{ matrix.target }}.sh"
        elif [[ '${{ matrix.target }}' == *'-netbsd'* ]]; then
            declare -r DAKINI_TAG="$(jq --raw-output '.tag_name' <<< "$(curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --url 'https://api.github.com/repos/AmanoTeam/Dakini/releases/latest')")"
            declare -r DAKINI_TARBALL='/tmp/toolchain.tar.xz'
            declare -r DAKINI_URL="https://github.com/AmanoTeam/Dakini/releases/download/${DAKINI_TAG}/x86_64-unknown-linux-gnu.tar.xz"
            
            curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --location --url "${DAKINI_URL}" --output "${DAKINI_TARBALL}"
            tar --directory="$(dirname "${DAKINI_TARBALL}")" --extract --file="${DAKINI_TARBALL}"
            
            export DAKINI_HOME='/tmp/dakini'
            export PATH="${DAKINI_HOME}/bin:${PATH}"
            
            source "${DAKINI_HOME}/usr/local/share/dakini/autotools/${{ matrix.target }}.sh"
        elif [[ '${{ matrix.target }}' == *'-android'* ]]; then
            declare -r PINO_TAG="$(jq --raw-output '.tag_name' <<< "$(curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --url 'https://api.github.com/repos/AmanoTeam/Pino/releases/latest')")"
            declare -r PINO_TARBALL='/tmp/toolchain.tar.xz'
            declare -r PINO_URL="https://github.com/AmanoTeam/Pino/releases/download/${PINO_TAG}/x86_64-unknown-linux-gnu.tar.xz"
            
            curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --location --url "${PINO_URL}" --output "${PINO_TARBALL}"
            tar --directory="$(dirname "${PINO_TARBALL}")" --extract --file="${PINO_TARBALL}"
            
            export PINO_HOME='/tmp/pino'
            export PATH="${PINO_HOME}/bin:${PATH}"
            
            source "${PINO_HOME}/usr/local/share/pino/autotools/${{ matrix.target }}.sh"
        fi
        
        echo "CROSS_COMPILE_TRIPLET=${CROSS_COMPILE_TRIPLET}" >> "${GITHUB_ENV}"
        
        bash './build.sh' "${CROSS_COMPILE_TRIPLET}"
    - name: Generate tarball
      run: |
        declare tarball_filename='/tmp/${{ env.CROSS_COMPILE_TRIPLET }}.tar.xz'
        tar --directory='/tmp' --create --file=- 'gdb' | xz --threads='0' --compress -9 > "${tarball_filename}"
        sha256sum "${tarball_filename}" | sed 's|/tmp/||' > "${tarball_filename}.sha256"
    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        name: ${{ env.CROSS_COMPILE_TRIPLET }}
        if-no-files-found: error
        path: |
          /tmp/${{ env.CROSS_COMPILE_TRIPLET }}.tar.xz
          /tmp/${{ env.CROSS_COMPILE_TRIPLET }}.tar.xz.sha256

  release:
    needs: cross-build
    runs-on: ubuntu-latest
    name: Create release
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@main
      - name: Create release
        uses: softprops/action-gh-release@master
        with:
          tag_name: gdb
          name: GNU Debugger
          files: ./*/*.tar.xz*
          draft: false
          prerelease: false
          fail_on_unmatched_files: true
          body: "* Release GDB"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

